.card-wrap {
    width: 600px;
    margin: 0 auto;

}
.card-wrap form {
    margin-bottom: 10px;
    display: flex;
    margin-top: 20px;

}
.card-wrap form input {
    width: calc(100% - 100px);
    text-indent: 10px;
    height: 40px;
    font-size: 18px;
}
.card-wrap form button {
    width: calc(100px);
    border: none;
    background-color: green;
    color: #fff;
    font-size: 18px;
}
.item-card {
    margin-bottom: 20px;
    display: flex;
}

.item-card__img {

}
.item-card__detail {
    padding-left: 15px;

}
.item-card__detail strong {
    display: block;
    margin-bottom: 5px;
}

.button-wrap .btn {
    margin: 10px;
    margin-top: 15px;
}

.star-wrap .fa {
    font-size: 28px;
    margin: 10px;
    color: orange;
}

.button-score {
    border-radius: 20px;
    border: 0;
    background-color: #ccc;
    margin: 10px;
    width: 32px;
    height: 32px;

}
.button-score.selected {
    background-color: aquamarine;
    cursor: not-allowed;
}
.button-score.used {
    background-color: orange;
    cursor: not-allowed;
}